.container {
  width: calc(100% - 200px);
  min-height: 100vh;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.container .titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .titles h2 {
  font-size: 40px;
  position: relative;
  top: 10px;
}

.container .titles span {
  color: lightgray;
  text-align: center;
  font-size: 25px;
}
.container .titles p {
  max-width: 600px;
  line-height: 33px;
  color: gray;
}
.container .products {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.container .products .productCard {
  width: calc(100% - 100px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .products .productCard img {
  width: 550px;
  height: 500px;
  object-fit: contain;
}
.container .products .productCard .productData {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  position: relative;
  z-index: 1;
  gap: 30px;
}

.container .products .productCard .productData span {
  position: absolute;
  top: -70px;
  left: 20px;
  font-size: 80px;
  font-weight: 900;
  color: rgba(211, 211, 211, 0.412);
  z-index: -1;
}

.container .products .productCard .productData p {
  line-height: 35px;
  color: gray;
}
.container .products .productCard .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container .products .productCard .actions button {
  padding: 10px 30px;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  transition: 0.5s;
  font-weight: 700;
  text-transform: uppercase;
}
.container .products .productCard .actions button:nth-child(2) {
  background-color: #fff;
  color: #000;
}

.container .products .productCard .actions button:hover {
  background-color: #fff;
  color: #000;
}

.container .products .productCard .actions button:nth-child(2):hover {
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 1185px) {
  .container {
    width: 100%;
  }
  .container .products .productCard {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (max-width: 982px) {
  .container .titles p {
    padding: 25px;
  }
  .container .products .productCard img {
    width: 400px;
  }
}
@media screen and (max-width: 890px) {
  .container .products .productCard {
    flex-wrap: wrap;
  }
  .container .products .productCard img {
    width: 100%;
    object-fit: cover;
  }
  .container .products .productCard .productData span {
    top: -10px;
    left: calc(100% - 150px);
  }
  .container .products .productCard .actions button {
    padding: 8px 22px;
  }
}
